[submodule "CoopGo"]
	path = CoopGo
	url = https://github.com/jackcooperusesvim/CoopGo.git
[submodule "rust_mnist"]
	path = rust_mnist
	url = https://github.com/jackcooperusesvim/rust_mnist.git
[submodule "rust_mancala"]
	path = rust_mancala
	url = https://github.com/jackcooperusesvim/rust_mancala.git
